# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Logs
logs
*.log
logs/**/*.log

# Jest
coverage/
jest-cache/
jest-output/

# Output directories
dist/
build/

# VS Code
.vscode/